/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&family=Lato:wght@300&display=swap');

/*global css*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.navItemActive{
    color: red !important;
}

.section-bg-color{
    background-color: rgb(237, 241, 241);
}

.x-font{
    font-size: 25px;
    font-family: 'Azeret Mono', monospace;
}

.p-font{
    font-family: Josefin sans;
}

/* Topnav */
.topNav{
    background-color: #fff;
}

.mainTopNav{
    padding: 20px;
}

.notice{
    padding: 5px;
}

.socialIcon{
    display: inline;
    float: right;
}

.socialIcon ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socialIcon ul li{
    display: inline-flex;
    margin-right: 15px;
}

.lst-child{
    margin-right: 0 !important;
}

.socialIcon ul li a img{
    width: 25px;
}


.socialIcon ul li a img:hover{
    transition: 0.5s;
    width: 30px;
}

/*Navbar*/
.header{
    color: #000;
    background-color: #6abf69;
    font-family: 'Josefin Sans', sans-serif;
}
.headerItem{
    height: 100px;
    text-transform: uppercase;
}
.logo{
    line-height: 100px;
    font-size: 35px;
    font-weight: 600;
}


#menuIcon{
    display: none;
}

.menuItem{
    line-height: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuItem li{
    display: inline-block;
    padding: 0 15px;
}

.last-child{
    padding: 0 !important;
}


.menuItem li a{
    font-family: Josefin Sans;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* Showcase */
.showcase{
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.mergeFlex{
    flex: 1 15%;
}

.shortInfoBox{
    width: 100%;
    margin-top: 200px;
    margin-left: 50px;
}
.shortInfoBox h1{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

.shortInfoBox span {
    font-size: 35px;
    font-family: 'Azeret Mono', monospace;
    color: red
}

.fixedText{
    color: brown !important;
}

.dynamicText{
    height: 140px;
}

.resumeBtn, .hireMeBtn{
    margin: 0 30px 20px 0;
    outline: none;
    padding: 9px 13px;
    font-size: 20px;
    background-color: #6abf69;
    color: #fff;
    font-family: Josefin Sans;
    border-radius: 5px;
    border: none;
}

.myPhoto img{
    margin-top: 100px;

}

/* skills  */
.skills{
    margin-top: 50px;
    padding: 70px 0;
}

.skills h1{
    font-size: 30px;
    border-bottom: 1px solid #6abf69;
    text-align: center;
    padding: 20px;
    font-family: Josefin Sans;
    text-transform: uppercase;
}

.skills-list{
    margin-top: 70px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skillbox{
    padding: 20px;
    margin: 20px;
    flex: 1 1 25%;
    box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
    -webkit-box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
    -moz-box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
}

.skillbox:hover{
    color: #fff;
    background-color: #0077c2;
    transition: 0.5s;
    font-family:  'Courier New', Courier, monospace;
}


.logo img{
    width: 70px;
}

.skillbox h3{
    font-family: Josefin sans;
    margin: 0;
    border-bottom: 1px solid #6abf69;
}
.descSkills{
    font-size: 16px;
    font-family: Azeret mono;
    padding-top: 10px;
}

/* Language */

.mainlang{
    padding: 100px 0;
}

.mainlang h1{
    padding: 10px;
    font-size: 30px;
    font-family: Josefin Sans;
    text-align: center;
    border-bottom: 1px solid #6abf69;
}

.mainlang ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 25px 0;
}

.mainlang ul li{
    align-items: center;
    margin: 10px;
}

.mainlang ul li img{
    width: 70px;
}

.mainlang ul li img:hover{
    width: 80px;
    transition: 0.5s;
}

/* Portfolio page */
.portfolio{
    padding: 50px 0;
}

.portfolio h1{
    border-bottom: 1px solid red;
    text-align: center;
}

.portfolioFlex{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolioBox{
    box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
    -webkit-box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
    -moz-box-shadow: 1px 3px 10px 0px rgba(59,50,50,0.61);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    flex: 1 1 24%;
    align-items: center;
}

.portfolioBox img{
    width: 100%;
}

.p-flex{
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.p-flex span{
    border-bottom: 1px solid red;
    font-size: 25px;
    font-family: Josefin Sans;
    color: #444;
}

.p-flex button{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #00766c;
    font-size: 18px;
    padding: 5px 9px;
    
}

.p-flex button a{
    text-decoration: none;
    color: white;
}

/* Service area  */
.services{
    padding: 50px;
}

.services h1{
    font-family: Josefin Sans;
    border-bottom: 1px solid red;
    text-align: center;
}

.mainServices{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.planBox{
    flex: 1 1 23%;
    align-self: center;
    align-items: center;
    margin: 20px;

    color: #fff;
    box-shadow: 0px 0px 5px 3px rgba(123,120,120,0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(123,120,120,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(123,120,120,0.75);
}

.planBoxHead{
    font-family: Josefin Sans;
    background-color: #444;
    padding: 20px;
}

.planBoxHead h2{
    text-align: center;
}

.planPrice{
    margin-bottom: 20px;
    text-align: center;
}

.taka{
    padding: 10px;
    font-size: 50px;
}

.priceSlug{
    text-align: center;
    width: 60%;
    border: 1px solid slategrey;
    margin: 0 auto;
}

.targetlist{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: #333;
    word-spacing: 3px;
    font-family: Lato;
}

.targetlist li{
    padding: 5px 0;
}

.targetlist li img{
    width: 15px;
}

/* About page */
.about{
    padding: 50px;
}

.about h1{
    text-align: center;
    font-family: Josefin sans;
    border-bottom: 1px solid red;
}

.mainabout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ab{
    flex: 1 1 25%;
    align-self: center;
    align-items: center;
    padding: 30px 0;
}

.ab ul{
    list-style-type: none;
    font-family: Azeret mono;
}

.ab ul li{
    padding: 5px 0;
}

.ab ul li a{
    color: #000;
    text-decoration: none;
}

.ab ul li span{
    font-weight: 600;
    font-family: Josefin sans;
    font-size: 22px;
}

.pf{
    padding: 0 !important;
}

/* Conatact page */

.contact{
    padding: 50px 0;
}

.contact h1{
    font-family: Josefin sans;
    text-align: center;
    border-bottom: 1px solid red;
}

/* Footer */

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footerMain{
    padding: 20px;
    flex: 1 1 24%;
    align-items: center;
}

.footerMain ul{
    list-style-type: none;
}

.footerMain ul li{
    padding: 6px ;
}

.footerMain ul li a{
    color: #fff;
    text-decoration: none;
    font-family: Josefin Sans;
}

.footerText{
    padding: 10px 0;
    font-family: azeret mono;
}

.dark-bg{
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footerMain h3{
    font-family: Josefin Sans;
    border-bottom: 1px solid #999;
}

.footerMain h3 img{
    width: 20px;
}

/* footer bottom */

.footerBottom{
    background-color: #00766c;
    color: #fff;
    padding: 20px;
}

.footer-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credits{
    font-family: Josefin Sans;
}